{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-11">
    <h3 class="text-center my-3 text-black ">Login</h3>
</div>
<div class="container my-5">
  <form action="" method="post">
    {% csrf_token %}
    {% for form in fm %}
    {{form.label_tag}}{{form}}{{fm.errors|striptags}}
    {% endfor %}
    <input type="submit" value="Login" class="btn btn-success my-4" style="width:50%">
  </form>
    </div>
    <a href="{% url "signup"%}" class="btn btn-primary mt-2">New User</a>
</div>
{% endblock content %}